language: php

cache:
  directories:
    - $HOME/.cache/pip
    - $HOME/.composer/cache/files
    - ${TRAVIS_BUILD_DIR}/travis/extension-cache

php:
    - 5.5
    - 5.6
    - 7.0
    - 7.1

env:
    - ILLUMINATE_VERSION=5.1.* PHPUNIT_VERSION=~4.0
    - ILLUMINATE_VERSION=5.2.* PHPUNIT_VERSION=~4.0
    - ILLUMINATE_VERSION=5.3.* PHPUNIT_VERSION=~5.0
    - ILLUMINATE_VERSION=5.4.* PHPUNIT_VERSION=~5.7
    - ILLUMINATE_VERSION=5.5.* PHPUNIT_VERSION=~6.0
    - ILLUMINATE_VERSION=5.5.* PHPUNIT_VERSION=~6.0 COVERAGE=true

matrix:
    # For each PHP version we exclude the coverage env, except for PHP 7.1
    exclude:
        # Test only Laravel 5.1 and 5.2 on PHP 5.5
        - php: 5.5
          env: ILLUMINATE_VERSION=5.3.* PHPUNIT_VERSION=~5.0
        - php: 5.5
          env: ILLUMINATE_VERSION=5.4.* PHPUNIT_VERSION=~5.7
        - php: 5.5
          env: ILLUMINATE_VERSION=5.5.* PHPUNIT_VERSION=~6.0
        - php: 5.5
          env: ILLUMINATE_VERSION=5.5.* PHPUNIT_VERSION=~6.0 COVERAGE=true
        # Don't test Laravel 5.5 on PHP 5.6
        - php: 5.6
          env: ILLUMINATE_VERSION=5.5.* PHPUNIT_VERSION=~6.0
        - php: 5.6
          env: ILLUMINATE_VERSION=5.5.* PHPUNIT_VERSION=~6.0 COVERAGE=true
        # Test everything on PHP 7.0
        - php: 7.0
          env: ILLUMINATE_VERSION=5.5.* PHPUNIT_VERSION=~6.0 COVERAGE=true
        # Test only Laravel 5.4 and 5.5 on PHP 7.1
        - php: 7.1
          env: ILLUMINATE_VERSION=5.1.* PHPUNIT_VERSION=~4.0
        - php: 7.1
          env: ILLUMINATE_VERSION=5.2.* PHPUNIT_VERSION=~4.0
        - php: 7.1
          env: ILLUMINATE_VERSION=5.3.* PHPUNIT_VERSION=~5.0
        - php: 7.1
          env: ILLUMINATE_VERSION=5.5.* PHPUNIT_VERSION=~6.0

before_install:
    - phpenv config-rm xdebug.ini
    - sudo apt-get install graphicsmagick
    - pear config-set preferred_state beta
    - pecl channel-update pecl.php.net
    - ./scripts/install_php_extensions.sh "imagick.so:imagick gmagick.so:gmagick"
    - composer global require hirak/prestissimo --update-no-dev
    - composer require "illuminate/support:${ILLUMINATE_VERSION}" --no-update --prefer-dist
    - composer require "orchestra/testbench:${ILLUMINATE_VERSION/5\./3\.}" --no-update --prefer-dist
    - composer require "phpunit/phpunit:${PHPUNIT_VERSION}" --no-update --prefer-dist

install: travis_retry composer install --no-interaction --prefer-dist

script: vendor/bin/phpunit

after_success: sh -c "if [ ! -z ${COVERAGE+x} ]; then travis_retry php vendor/bin/coveralls; fi"

notifications:
    email: false
    slack:
        secure: ZilkSllOIo1vCtgUJrQ2ZQaCxW4/zpXZSFYL5Scl5o66fkgmymHR+cUqHsz9jHkXEkxOxORG1baRaJDKnyJ2A3XTfscmhOvAOupQ9jzc9M8yzugH7SrxcjDUJ02CX6LcXlOtOvPwPdkHVi9hR/qmx9D4QZEznVmvxZ2HJOVNJ18=
